In [51]:
users = [
    {'id': 0, 'name': 'Hero'},
    {'id': 1, 'name': 'Dunn'},
    {'id': 2, 'name': 'Sue'},
    {'id': 3, 'name': 'Chi'},
    {'id': 4, 'name': 'Thor'},
    {'id': 5, 'name': 'Clive'},
    {'id': 6, 'name': 'Hicks'},
    {'id': 7, 'name': 'Devin'},
    {'id': 8, 'name': 'Kate'},
    {'id': 9, 'name': 'Klein'}
]

In [52]:
users

[{'id': 0, 'name': 'Hero'},
 {'id': 1, 'name': 'Dunn'},
 {'id': 2, 'name': 'Sue'},
 {'id': 3, 'name': 'Chi'},
 {'id': 4, 'name': 'Thor'},
 {'id': 5, 'name': 'Clive'},
 {'id': 6, 'name': 'Hicks'},
 {'id': 7, 'name': 'Devin'},
 {'id': 8, 'name': 'Kate'},
 {'id': 9, 'name': 'Klein'}]

In [53]:
# users['Hero']

In [54]:
friendships = [
    (0, 1), (0, 2), (1, 2), (1, 3), (2, 3), (3, 4),
    (4, 5), (5, 6), (5, 7), (6, 8), (7, 8), (8, 9)
]

In [55]:
friendships

[(0, 1),
 (0, 2),
 (1, 2),
 (1, 3),
 (2, 3),
 (3, 4),
 (4, 5),
 (5, 6),
 (5, 7),
 (6, 8),
 (7, 8),
 (8, 9)]

In [56]:
for user in users:
    user['friends'] = []

In [57]:
users

[{'id': 0, 'name': 'Hero', 'friends': []},
 {'id': 1, 'name': 'Dunn', 'friends': []},
 {'id': 2, 'name': 'Sue', 'friends': []},
 {'id': 3, 'name': 'Chi', 'friends': []},
 {'id': 4, 'name': 'Thor', 'friends': []},
 {'id': 5, 'name': 'Clive', 'friends': []},
 {'id': 6, 'name': 'Hicks', 'friends': []},
 {'id': 7, 'name': 'Devin', 'friends': []},
 {'id': 8, 'name': 'Kate', 'friends': []},
 {'id': 9, 'name': 'Klein', 'friends': []}]

In [58]:
for i, j in friendships:
    users[i]['friends'].append(users[j])
    users[j]['friends'].append(users[i])

In [59]:
for user in users:
    print(f"{user['name']}'s friends: {[friend['name'] for friend in user['friends']]}")

Hero's friends: ['Dunn', 'Sue']
Dunn's friends: ['Hero', 'Sue', 'Chi']
Sue's friends: ['Hero', 'Dunn', 'Chi']
Chi's friends: ['Dunn', 'Sue', 'Thor']
Thor's friends: ['Chi', 'Clive']
Clive's friends: ['Thor', 'Hicks', 'Devin']
Hicks's friends: ['Clive', 'Kate']
Devin's friends: ['Clive', 'Kate']
Kate's friends: ['Hicks', 'Devin', 'Klein']
Klein's friends: ['Kate']

In [60]:
users[9]

{'id': 9,
 'name': 'Klein',
 'friends': [{'id': 8,
   'name': 'Kate',
   'friends': [{'id': 6,
     'name': 'Hicks',
     'friends': [{'id': 5,
       'name': 'Clive',
       'friends': [{'id': 4,
         'name': 'Thor',
         'friends': [{'id': 3,
           'name': 'Chi',
           'friends': [{'id': 1,
             'name': 'Dunn',
             'friends': [{'id': 0,
               'name': 'Hero',
               'friends': [{...},
                {'id': 2, 'name': 'Sue', 'friends': [{...}, {...}, {...}]}]},
              {'id': 2,
               'name': 'Sue',
               'friends': [{'id': 0,
                 'name': 'Hero',
                 'friends': [{...}, {...}]},
                {...},
                {...}]},
              {...}]},
            {'id': 2,
             'name': 'Sue',
             'friends': [{'id': 0,
               'name': 'Hero',
               'friends': [{'id': 1,
                 'name': 'Dunn',
                 'friends': [{...}, {...}, {...}]},
                {...}]},
              {'id': 1,
               'name': 'Dunn',
               'friends': [{'id': 0,
                 'name': 'Hero',
                 'friends': [{...}, {...}]},
                {...},
                {...}]},
              {...}]},
            {...}]},
          {...}]},
        {...},
        {'id': 7, 'name': 'Devin', 'friends': [{...}, {...}]}]},
      {...}]},
    {'id': 7,
     'name': 'Devin',
     'friends': [{'id': 5,
       'name': 'Clive',
       'friends': [{'id': 4,
         'name': 'Thor',
         'friends': [{'id': 3,
           'name': 'Chi',
           'friends': [{'id': 1,
             'name': 'Dunn',
             'friends': [{'id': 0,
               'name': 'Hero',
               'friends': [{...},
                {'id': 2, 'name': 'Sue', 'friends': [{...}, {...}, {...}]}]},
              {'id': 2,
               'name': 'Sue',
               'friends': [{'id': 0,
                 'name': 'Hero',
                 'friends': [{...}, {...}]},
                {...},
                {...}]},
              {...}]},
            {'id': 2,
             'name': 'Sue',
             'friends': [{'id': 0,
               'name': 'Hero',
               'friends': [{'id': 1,
                 'name': 'Dunn',
                 'friends': [{...}, {...}, {...}]},
                {...}]},
              {'id': 1,
               'name': 'Dunn',
               'friends': [{'id': 0,
                 'name': 'Hero',
                 'friends': [{...}, {...}]},
                {...},
                {...}]},
              {...}]},
            {...}]},
          {...}]},
        {'id': 6, 'name': 'Hicks', 'friends': [{...}, {...}]},
        {...}]},
      {...}]},
    {...}]}]}

In [61]:
user['friends']

[{'id': 8,
  'name': 'Kate',
  'friends': [{'id': 6,
    'name': 'Hicks',
    'friends': [{'id': 5,
      'name': 'Clive',
      'friends': [{'id': 4,
        'name': 'Thor',
        'friends': [{'id': 3,
          'name': 'Chi',
          'friends': [{'id': 1,
            'name': 'Dunn',
            'friends': [{'id': 0,
              'name': 'Hero',
              'friends': [{...},
               {'id': 2, 'name': 'Sue', 'friends': [{...}, {...}, {...}]}]},
             {'id': 2,
              'name': 'Sue',
              'friends': [{'id': 0, 'name': 'Hero', 'friends': [{...}, {...}]},
               {...},
               {...}]},
             {...}]},
           {'id': 2,
            'name': 'Sue',
            'friends': [{'id': 0,
              'name': 'Hero',
              'friends': [{'id': 1,
                'name': 'Dunn',
                'friends': [{...}, {...}, {...}]},
               {...}]},
             {'id': 1,
              'name': 'Dunn',
              'friends': [{'id': 0, 'name': 'Hero', 'friends': [{...}, {...}]},
               {...},
               {...}]},
             {...}]},
           {...}]},
         {...}]},
       {...},
       {'id': 7, 'name': 'Devin', 'friends': [{...}, {...}]}]},
     {...}]},
   {'id': 7,
    'name': 'Devin',
    'friends': [{'id': 5,
      'name': 'Clive',
      'friends': [{'id': 4,
        'name': 'Thor',
        'friends': [{'id': 3,
          'name': 'Chi',
          'friends': [{'id': 1,
            'name': 'Dunn',
            'friends': [{'id': 0,
              'name': 'Hero',
              'friends': [{...},
               {'id': 2, 'name': 'Sue', 'friends': [{...}, {...}, {...}]}]},
             {'id': 2,
              'name': 'Sue',
              'friends': [{'id': 0, 'name': 'Hero', 'friends': [{...}, {...}]},
               {...},
               {...}]},
             {...}]},
           {'id': 2,
            'name': 'Sue',
            'friends': [{'id': 0,
              'name': 'Hero',
              'friends': [{'id': 1,
                'name': 'Dunn',
                'friends': [{...}, {...}, {...}]},
               {...}]},
             {'id': 1,
              'name': 'Dunn',
              'friends': [{'id': 0, 'name': 'Hero', 'friends': [{...}, {...}]},
               {...},
               {...}]},
             {...}]},
           {...}]},
         {...}]},
       {'id': 6, 'name': 'Hicks', 'friends': [{...}, {...}]},
       {...}]},
     {...}]},
   {'id': 9, 'name': 'Klein', 'friends': [...]}]}]

In [62]:
def number_of_friends(user):
    return len(user['friends'])

In [63]:
total_connections = sum(number_of_friends(user)
                        for user in users)

In [64]:
total_connections

24

In [65]:
from __future__ import division
num_users = len(users)
avg_connections = total_connections / num_users

In [66]:
avg_connections

2.4

In [67]:
users = [
    {"id": 0, "name": "Alice", "friends": []},
    {"id": 1, "name": "Bob", "friends": []},
    {"id": 2, "name": "Charlie", "friends": []}
]

friendships = [(0, 1), (1, 2), (0, 2)]

for i, j in friendships:
    users[i]["friends"].append(users[j])
    users[j]["friends"].append(users[i])

# Viewing friendships
for user in users:
    print(f"{user['name']}'s friends: {[friend['name'] for friend in user['friends']]}")

Alice's friends: ['Bob', 'Charlie']
Bob's friends: ['Alice', 'Charlie']
Charlie's friends: ['Bob', 'Alice']

In [68]:
def number_of_friends(user):
    return len(user['friends'])

In [69]:
total_connections = sum(number_of_friends(user) for user in users)

In [70]:
num_users = len(users)

In [71]:
from __future__ import division # I do not need this because I am using python 3
avg_connections = total_connections / num_users

In [72]:
avg_connections

2.0

In [73]:
num_friends_by_id = [(user['id'], number_of_friends(user)) for user in users]

In [74]:
num_friends_by_id

[(0, 2), (1, 2), (2, 2)]

In [75]:
# sorted(num_friends_by_id, key=lambda (user_id, num_friends): num_friends, reverse=True) --> did not work, I will find out why!

In [76]:
def double(x):
    return 2 * x

In [77]:
def apply_one(f):
    return f(1)

In [78]:
another_double = double

In [79]:
y = apply_one(another_double)

In [80]:
y

2

In [81]:
def my_message(message='Hello Rajohana!'):
    print(message)

In [82]:
my_message()

Hello Rajohana!

In [83]:
my_message('Hello Daniela')

Hello Daniela

In [84]:
tab_string = '\t'

In [85]:
len(tab_string)

1

In [86]:
tab_string

'\t'

In [87]:
not_tab_string = r'\t'

In [88]:
len(not_tab_string)

2

In [89]:
try:
    print(0/0)
except ZeroDivisionError:
    print('cannot divide by zero')

cannot divide by zero

In [90]:
x = list(range(10))

In [91]:
x[:-3]

[0, 1, 2, 3, 4, 5, 6]

In [92]:
x[-3:]

[7, 8, 9]

In [93]:
x = [1, 2, 3]

In [94]:
y = x + [4, 5, 6]

In [95]:
y

[1, 2, 3, 4, 5, 6]

In [96]:
_, y = [1, 2]

In [97]:
x

[1, 2, 3]

In [98]:
y

2

In [100]:
b = 1, 2

In [101]:
b

(1, 2)

In [102]:
b[0]

1

In [104]:
b[-1]

2

In [105]:
empty_dict = {}

In [106]:
grades = {'joel': 100, 'tim': 80}

In [108]:
joel_grades = grades['joel']

In [110]:
joel_grades

100

In [111]:
type(joel_grades)

int

In [112]:
grades['Kate']

KeyError: 'Kate'

In [113]:
grades.get('joel')

100

In [116]:
print(grades.get('Kate', 0))

0

In [117]:
grades['joel'] = 99.99

In [118]:
joel_grades = grades['joel']

In [119]:
type(joel_grades)

float

In [120]:
tweet = {
    'user': 'barrackobama',
    'text': 'I inspire hope!',
    'retweets_count': 1000,
    'hashtags': ["#unitedstates", "#america", "#44th", "#44"]
}

In [125]:
tweet_keys = tweet.keys()

In [128]:
tweet_values = tweet.values()

In [131]:
tweet_values

dict_values(['barrackobama', 'I inspire hope!', 1000, ['#unitedstates', '#america', '#44th', '#44']])

In [132]:
tweet_items = tweet.items()

In [133]:
tweet_items

dict_items([('user', 'barrackobama'), ('text', 'I inspire hope!'), ('retweets_count', 1000), ('hashtags', ['#unitedstates', '#america', '#44th', '#44'])])

In [136]:
any(['', True, 3])

True

In [137]:
help(any)

Help on built-in function any in module builtins:

any(iterable, /)
    Return True if bool(x) is True for any x in the iterable.

    If the iterable is empty, return False.

In [139]:
help(all)

Help on built-in function all in module builtins:

all(iterable, /)
    Return True if bool(x) is True for all values x in the iterable.

    If the iterable is empty, return True.

In [140]:
x = [4, 3, 2, 6]

In [149]:
x.sort(key=abs, reverse=True)

In [150]:
x

[6, 4, 3, 2]

In [152]:
even_numbers = [x for x in range(5) if x % 2 == 0]

In [153]:
even_numbers

[0, 2, 4]

In [154]:
zeros = [0 for _ in even_numbers]

In [155]:
zeros

[0, 0, 0]

In [156]:
import random as r

In [168]:
for _ in range(10):
    print(r.randrange(2, 22))

4
16
16
21
4
7
7
6
17
21

In [169]:
arr = list(range(9))

In [174]:
arr

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [175]:
for _ in range(5):
    print(r.choice(arr))

8
0
1
1
8

In [188]:
lotto_nums = list(range(1, 36))

In [190]:
for _ in range(6):
    print(r.sample(lotto_nums, 5))

[19, 25, 6, 12, 7]
[2, 30, 13, 33, 3]
[19, 12, 9, 30, 17]
[25, 28, 34, 35, 4]
[24, 6, 32, 2, 27]
[9, 19, 15, 28, 18]

In [191]:
for _ in range(6):
    print(r.sample(lotto_nums, 5))

[23, 21, 35, 3, 33]
[29, 7, 4, 10, 17]
[2, 6, 1, 27, 16]
[31, 28, 18, 14, 27]
[2, 24, 20, 5, 17]
[32, 9, 28, 2, 29]

In [192]:
for _ in range(6):
    print(r.sample(lotto_nums, 5))

[11, 4, 32, 33, 22]
[17, 32, 15, 24, 18]
[25, 5, 33, 29, 35]
[12, 10, 29, 5, 7]
[24, 12, 35, 17, 31]
[1, 35, 3, 22, 23]

In [178]:
six_with_replacemet = [r.choice(lotto_nums) for _ in range(6)]

In [179]:
six_with_replacemet

[48, 18, 16, 57, 11, 23]

In [200]:
powerball_num = list(range(1, 51))

In [201]:
for _ in range(6):
    print(r.sample(powerball_num, 5))

[35, 9, 47, 22, 5]
[29, 26, 28, 22, 14]
[42, 23, 49, 45, 20]
[40, 9, 3, 11, 8]
[40, 35, 14, 39, 44]
[2, 11, 43, 14, 34]

In [202]:
bonus = list(range(1, 21))
for _ in range(6):
    print(r.sample(bonus, 1))

[17]
[10]
[6]
[10]
[6]
[11]